<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Question1Directive" value="D:\Assignment_1\k173652_Q1\bin\Debug\netcoreapp3.1\k173652_Q1.exe"/>
    <add key="setTimeInMinutes" value="2"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>